html {
  height: 100%;
  width: 100%;
  font-family: Roboto;
}

body {
  height: 100%;
  width: 100%;
  //position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: inherit; 
}

nav {
  background: fade(black, 60%);
  position: fixed;
  color: white;
  width: 100%;
  ul {
    padding: 10px 30px;
    font-weight: 100;
    display: flex;
    justify-content: flex-end;
    li {
      margin-left: 30px;
      list-style: none;
    }
  }
}

header {
  width: 100vw;
  height: 100vh;
  background: url('backgrounds/atmozilla.jpg');
  background-size: cover;
  //background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  h1 {
    font-weight: 900;
    font-size: 120px;
    text-align: center;
    .year {
      font-weight: 100;
    }
  }
  a.powered-by {
    position: absolute;
    bottom: 0;
    left: 0;
    &:hover {
      img {
        -webkit-filter: none;
      }
    }
    img {
      transition: all .5s;
      -webkit-filter: saturate(0) contrast(0) brightness(125%);
      //filters: brightness(100%);
      width: 200px;
    }
  }
}